<div class="container margint30px">
  <div class="row">

    <div class="col-md-3">
      <h2>Género:</h2>
      <div class="list-group">
        <button type="button" class="list-group-item" [ngClass]="{'active': typeFilmSelected == 0 }" (click)="changeTypeFilmSelected(0)"> Todos </button>
        <button type="button" *ngFor="let ft of listFilmType" class="list-group-item" [ngClass]="{'active': typeFilmSelected == ft.id }" (click)="changeTypeFilmSelected(ft.id)"> {{ft.description}} </button>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <input type="text" placeholder="Título" [(ngModel)]="filtroName" (keyup)="filterFilmsByIdTypeFilmAndName()" class="form-control width100 marginb4">
        </div>
      </div>

      <div class="row">
        <div *ngFor="let f of listFilm" class="col-md-4 marginb4">
          <img *ngIf="!f.image" width="100%" height="240px" src="../../assets/images/default.png" (click)="openModal(template, f.id)">
          <img *ngIf="f.image" width="100%" height="240px" src="data:image/png;base64,{{f.image}}" (click)="openModal(template, f.id)">
          <div class="row">
            <div class="col-md-8">
              <h4>{{f.name}}</h4>
            </div>
            <div class="col-md-4 textAlignRight">
              <h4 *ngIf="f.rate">{{f.rate}}/10</h4>
            </div>
          </div>
        </div>
      </div> <!-- termina row-->

    </div>

  </div> <!-- termina row-->

</div> <!-- termina container-->

<!-- Modal -->
<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{filmDto.name}} ({{filmDto.releaseYear}})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <img *ngIf="!filmDto.image" width="100%" height="300px" src="../../assets/images/default.png">
            <img *ngIf="filmDto.image" width="100%" height="300px" src="data:image/png;base64,{{filmDto.image}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4>Puntuación:</h4>
          </div>
          <div class="col-md-5 textAlignRight">
            <h4 *ngIf="filmDto.rate">{{filmDto.rate}}/10</h4>
            <h4 *ngIf="!filmDto.rate">Por Definir</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default btn-block" (click)="goToEditFilm()">Editar</button>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h4>Descripción:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>{{filmDto.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-danger btn-block" [disabled]="!filmDto.trailerUrl" (click)="openTrailerURL()">Ver Trailer</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success btn-block" (click)="startFilm()">Ver Película</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>
