<div class="container margint5">

  <form *ngIf="!deleted">
    <div class="form-group">
      <label for="image">Imagen</label>
      <input id="image" type="file" multiple="false" (change)="chargeImage($event)" #imageInput accept="image/*">
    </div>

    <div class="form-group textAlignCenter imageBorder" *ngIf="imageAMostrar">
      <img width="270px" height="300px" [src]="imageAMostrar">
    </div>

    <div class="form-group textAlignCenter imageBorder" *ngIf="!imageAMostrar && filmDto.image">
      <img width="270px" height="300px" src="data:image/png;base64,{{filmDto.image}}">
    </div>

    <div class="alert alert-danger" *ngIf="errorImage">{{errorImage}}</div>
    <div class="alert alert-success" *ngIf="okImageAdd">La imagen se ha editado correctamente</div>

    <div class="form-group textAlignCenter">
      <button [disabled]="loadingImage" (click)="uploadImage()" class="btn btn-primary">Editar Imagen</button>
    </div>

  </form>

  <form (ngSubmit)="saveFilm(editFilmForm)" #editFilmForm="ngForm" *ngIf="!deleted">

    <input type="hidden" name="id" [(ngModel)]="filmDto.id" #id="ngModel">
    <input type="hidden" name="version" [(ngModel)]="filmDto.version" #version="ngModel">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" type="text" [(ngModel)]="filmDto.name" #name="ngModel" placeholder="Name" required [rangeLength]="[1, 100]"/>
      <div *ngIf="(name.touched || editFilmForm.submitted) && name.hasError('required')" class="alert alert-danger">El nombre de la película es obligatorio</div>
      <div *ngIf="(name.touched || editFilmForm.submitted) && name.hasError('rangeLength')" class="alert alert-danger">El nombre de la película debe estar comprendido entre 1 y 100 caracteres</div>
    </div>

    <div class="form-group">
      <label for="filmPath">Ruta Película</label>
      <input id="filmPath" name="filmPath" class="form-control" type="text" [(ngModel)]="filmDto.filmPath" #filmPath="ngModel" placeholder="Ruta Película" required/>
      <div *ngIf="(filmPath.touched || editFilmForm.submitted) && filmPath.hasError('required')" class="alert alert-danger">La ruta de as palícula es obligatoria</div>
    </div>

    <div class="form-group" *ngIf="filmDto && filmDto.filmTypeDto && filmDto.filmTypeDto.id">
      <label for="filmTypeDto">Género</label>
      <select id="filmTypeDto" name="filmTypeDto" class="form-control" [(ngModel)]="filmDto.filmTypeDto.id" #filmTypeDto="ngModel" required>
        <option [ngValue]="null">Seleccione Género</option>
        <option *ngFor="let ft of listFilmType" [ngValue]="ft.id">{{ft.description}}</option>
      </select>
      <div *ngIf="(filmTypeDto.touched || editFilmForm.submitted) && filmTypeDto.hasError('required')" class="alert alert-danger">Debe seleccionar un género</div>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" name="description" class="form-control" type="text" [(ngModel)]="filmDto.description" #description="ngModel" placeholder="Descripción" required [rangeLength]="[1, 500]"></textarea>
      <div *ngIf="(description.touched || editFilmForm.submitted) && description.hasError('required')" class="alert alert-danger">La descripción de la película es obligatorio</div>
      <div *ngIf="(description.touched || editFilmForm.submitted) && description.hasError('rangeLength')" class="alert alert-danger">La descripción debe estar comprendida entre 1 y 500 caracteres</div>
    </div>

    <div class="form-group">
      <label for="releaseYear">Año de Estreno</label>
      <input id="releaseYear" name="releaseYear" class="form-control" type="number" [(ngModel)]="filmDto.releaseYear" #releaseYear="ngModel"/>
    </div>

    <div class="form-group">
      <label for="trailerUrl">Trailer URL</label>
      <input id="trailerUrl" name="trailerUrl" class="form-control" type="text" [(ngModel)]="filmDto.trailerUrl" #trailerUrl="ngModel" placeholder="Trailer URL" [rangeLength]="[1, 100]"/>
      <div *ngIf="(trailerUrl.touched || editFilmForm.submitted) && trailerUrl.hasError('rangeLength')" class="alert alert-danger">Trailer URL debe estar comprendido entre 1 y 100 caracteres</div>
    </div>

    <div class="form-group">
      <label for="rate">Puntuación</label>
      <input id="rate" name="rate" class="form-control" type="number" [(ngModel)]="filmDto.rate" #rate="ngModel" min="0" max="10"/>
      <div *ngIf="(rate.touched || editFilmForm.submitted) && (rate.hasError('min') || rate.hasError('max'))" class="alert alert-danger">La puntuación debe estar comprendida entre 0 y 10</div>
    </div>

    <div class="alert alert-danger" *ngIf="errorEditarPelicula">{{errorEditarPelicula}}</div>
    <div class="alert alert-success" *ngIf="okSaveFilm">La película se ha editado correctamente</div>

    <div class="form-group textAlignCenter">
      <button type="button" class="btn btn-danger" (click)="openModal(template)">Eliminar Película</button>
    </div>

    <div class="form-group textAlignCenter">
      <button type="submit" [disabled]="loadingFilm" class="btn btn-primary">Guardar</button>
    </div>

  </form>

  <div class="alert alert-success" *ngIf="deleted">La película se ha eliminado correctamente</div>

</div>

<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">¿Desea eliminar la película?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <button (click)="modalRef.hide()" class="btn btn-primary btn-block">No</button>
      </div>
      <div class="col-md-6">
        <button (click)="deleteFilm()" class="btn btn-danger btn-block">Si</button>
      </div>

    </div>

  </div>
</ng-template>
