<div class="container margint30px">

  <div class="panel">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-12">
          <input type="text" placeholder="Título" [(ngModel)]="filtroName" (keyup)="filterSerieByName()" class="form-control width100 marginb4">
        </div>
      </div>

      <div class="row">
        <div *ngFor="let s of listSerie" class="col-md-3 marginb4">
          <img *ngIf="!s.image" width="100%" height="240px" src="../../assets/images/default.png" (click)="openModal(template, s.id)">
          <img *ngIf="s.image" width="100%" height="240px" src="data:image/png;base64,{{s.image}}" (click)="openModal(template, s.id)">
          <div class="row">
            <div class="col-md-8">
              <h4>{{s.name}}</h4>
            </div>
            <div class="col-md-4 textAlignRight">
              <h4 *ngIf="s.rate">{{s.rate}}/10</h4>
            </div>
          </div>
        </div>
      </div> <!-- termina row-->

    </div>
  </div>

</div>

<!-- Modal -->
<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{serieDto.name}} ({{serieDto.releaseYear}})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <!-- Aqui van las temporadas -->
      <div class="col-md-3">
        <h3>Temporadas:</h3>
        <div class="list-group">
          <button type="button" *ngFor="let sea of listSeason" [ngClass]="{'active': seasonActive == sea.number }" (click)="changeSeason(sea.id, sea.number)" class="list-group-item">Temporada {{sea.number}} </button>
        </div>
      </div>

      <!-- Aqui van los episodios -->
      <div class="col-md-5">
        <h3>Episodios:</h3>
        <div class="list-group">
          <button type="button" *ngFor="let e of listEpisode" (click)="startEpisode(e.id, e.number)" [ngClass]="{'active': episodeActive == e.number }" class="list-group-item">Episodio - {{e.number}} </button>
        </div>
      </div>

      <!-- Aqui va imagen y editar -->
      <div class="col-md-4">
        <!-- Row para la imagen-->
        <div class="row">
          <div class="col-md-12">
            <img *ngIf="!serieDto.image" width="100%" height="300px" src="../../assets/images/default.png">
            <img *ngIf="serieDto.image" width="100%" height="300px" src="data:image/png;base64,{{serieDto.image}}">
          </div>
        </div>
        <!-- Row para editar-->
        <div class="row margint30px">
          <div class="col-md-12">
            <button class="btn btn-default btn-block" (click)="goToEditSerie()">Editar</button>
          </div>
        </div>
      </div>

    </div>


  </div>
</ng-template>
